<div class="search_bar">
	<form action="/ibook/search/:title" method="GET">
		<input type="text" name="search">
		<button>search</button>
	</form>
</div>


	<nav class="categories">
		<%@category.each do |category|%>
			<a href="/ibook/category/:id">
				<%= category[:name] %>
			</a> |
		<%end%>
	</nav>


<div class="all_books_container">
	<% @books.each do |book|%>
		<div class="single_book_container">
			<img src="<%=book.image%>">
			<ul>
				<li><%=book[:title]%></li>
				<li>Author: <%=book[:author]%></li>
			</ul>
		</div>
	<%end%>
</div>