<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/css/style1.css' type='text/css'>
	<style type="text/css">
		
	</style>
</head>
<body>

	<header>
		<nav class="home_nav">
			<span class="title">IBOOK</span>
			<a href="/">Home</a>
			<a href="#">About</a>
		</nav>
			<% if session[:logged_in] %>
			<nav class="right_menu">
				<a href="/ibook/new">+ Book</a> |
				<a href="/ibook/offers/<%=session[:user_id]%>">+ Offer</a>
				<a href="/ibook/profile">Profile</a> |
				<a href="/auth/logout">Sign out</a> 
			</nav>
			<%else%>
			<nav class="login_nav">
				<a href="/auth/login">Login</a>
				<a href="/auth/register">Sign up</a>
				<%end%>
		</nav>
	</header>

	<%=yield%>
</body>
</html>