<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/css/style2.css'>

	<style type="text/css">
	
	img{
		width:150px;
		height:auto;
		cursor:pointer;
	}

	/*.all_books_container{
		float:left;
		margin-left:20px;
	}*/
	
	</style>
</head>
<body>

	<header>
		<nav class="home_nav">
			<span>IBOOK</span>
			<a href="/">Home</a>
			<a href="#">About</a>

			<% if session[:logged_in] %>
				<a href="/ibook/new">+ Book</a> |
				<a href="/ibook/offers/<%=session[:user_id]%>">+ Offer</a>
				<a href="/ibook/profile">Profile</a> |
				<a href="/auth/logout">Sign out</a> 
			
			<%else%>
				<a href="/auth/login">Login</a>
				<a href="/auth/register">Sign up</a>
				<%end%>
		</nav>
	</header>

	<%=yield%>
</body>
</html>