<div class="auth_form">
	<span>Sign Up</span>
	<form action="/auth/register" method="POST">
		<label>username:</label><input type="text" name="username" placeholder="username">
		<label>password:</label><input type="password" name="password" placeholder="password">
		<label>zip code:</label><input type="number" name="zipcode" placeholder="4 digits">
		<input type="submit">
	</form>
</div>