<div class="auth_form">
	<span>Sign Up</span>
	<form action="/auth/register" method="POST">
		<label>username:</label><input type="text" name="username" placeholder="username">
		<label>password:</label><input type="password" name="password" placeholder="password">
		<label>city:</label><input type="text" name="city" placeholder="city">
		<label>state:</label><input type="text" name="state" placeholder="state">
		<input type="submit">
	</form>
</div>