<div class="auth_form">
	<span>Sign Up</span>
	<form action="/auth/register" method="POST">
		username: <input type="text" name="username" placeholder="username"><br/>
		password: <input type="password" name="password" placeholder="password"><br/>
		city: <input type="text" name="city" placeholder="city"><br/>
		state: 
		<select name="state">
			<%@states.each do |state|%> 
				<option value="<%=state.id%>"><%=state[:name]%></option>
			<%end%>
		</select><br/>
		<input type="submit"><br/>
	</form>
</div>