<div class="message_form">
	<h2>Message to <%=@owner_of_book[:username]%></h2>
	<form action="/ibook/owner/<%=@other_user_book.id%>" method="POST">
		<textarea type="text" name="comment" rows="5" cols="45" style="font-size: 20px; background: lightgrey; border-radius: 5px"></textarea><br/>
		<select name="book" style="font-size: 20px; margin-top:2rem">
			<% @my_books.each do|book| %>
			<option value="<%=book.id%>"><%=book[:title]%></option>
			<% end %>
		</select>
		<button style="font-size:20px">Send</button>
	</form>
</div>