body{
	font-family: 'Helvetica';
	margin: 0 auto;
	background: #eaeaea;
}

.container{
	padding:0 15rem;
}

header{
	background: #131921;
	padding:1rem 0;
	border-radius:10px;
}
header nav a{
	color:white;
	letter-spacing: .1rem;
}
	
nav a{
	text-transform: uppercase;
	margin-left: .5rem;
	font-weight: 600;
	font-size: 1.4rem;
}

#search {
	width:200px;
	height:1.5rem;
}

.search_bar button{
	font-size: 1.1rem;
	background: orange;
	border:none;
}

img{
	width:8rem;
	height:auto;
}

.all_books_container{
	margin-top:5rem;
	background: #f9fff9;
	height:50rem;
	border-radius:10px;
}

.single_book_container{
	width:10rem;
	height:15rem;
	float:left;
	margin-left:1.4rem;
	margin-bottom:1rem;
	margin-top:1rem;
}


nav{
	display: inline-block;
}

.logged_in{
	margin-left:11rem;
}

.title{
	font-size: 2rem;
	color:#dee5ed;
}

.categories{
	margin-left:25rem;
}

.categories a{
	font-size: .8rem;
}

.auth {
	margin-left:25rem;
}

header{
	margin-top:1rem;
	margin-bottom:2rem;
}

ul{
	padding-left:0;
}

ul li{
	list-style-type: none;
}

.clearfix{
	clear:both;
}

.google_map{
	padding-right:3rem;
	width:25rem;
	height:25rem;
	margin-top:3rem;
	margin-left:1rem;
}

.comments_container{
	border-left: 8px solid #d65708;
	padding-left: 1rem; 
}


.auth_form{
	width:20rem;
	height:25rem;
	background: #f9fff9;
	margin:3rem auto;
	text-align: center;
	padding:1rem;
	border-radius: 10px;
	font-size: 1.3rem;
}
.auth_form input{
	margin-top:1.6rem;
	margin-bottom:1rem;
}


.links{
	margin-right:5rem;
	width:10rem;
}

.icon{
	width:2rem;
	height:auto;
	margin-right:1rem;
	padding-top:1rem; 
}

.links ul li a{
	color:black;
}

.create_form{
	width:30rem;
	height:25rem;
	background: #f9fff9;
	margin:0 auto;
}

.child_container{
	padding: 1rem 3rem;
}

.input_new input{
	margin:.5rem;
}

.deal_btn{
	font-size:1rem;
	margin-left: 1rem;
	margin-top:.4rem;
}


.comment{
	background: white;
	border-radius: 10px;
	width:30rem;
	height: 5rem;
	padding: 1rem 1rem 3rem 1rem;
	margin-bottom: 1rem;
}

.comment ul li {
	padding-top:.4rem;
}

.book_container{
	width:20rem;
	height:25rem;
	padding:3rem;
	float:left;
}

.book_container img{
	width:100%;
	height:auto;
}

.info_book{
	width:15rem;
	float:left;
	margin-top:5rem;
	margin-left: 5rem;
	font-size: 1.3rem;
	border-bottom: .5px solid grey;
	font-family: 'Georgia';
	letter-spacing: 3px;
}

.exchange_img{
	float:left;
	margin-top:4rem;
}











