body{
	font-family: 'Helvetica';
	margin: 0 auto;
	/*background: #eaeaea;*/
	background: #1A1A1D;
}

.container{
	padding:0 15rem;
}

header{
	background: #4e4e50;
	padding:.7rem 0;
	border-radius:3px;
}
header nav a{
	color:lightgrey;
	letter-spacing: .1rem;
	text-decoration: none;
}
	
nav a{
	text-transform: uppercase;
	margin-left: .5rem;
	font-weight: 500;
	font-size: 1rem;
}

nav a:hover{
	color:white;
}

#search {
	width:200px;
	height:1.5rem;
}

.search_bar button{
	font-size: 1.1rem;
	background: orange;
	border:none;
}

img{
	width:8rem;
	height:auto;
	-webkit-box-shadow: 0 8px 6px -1px black;
	-moz-box-shadow: 0 8px 6px -1px black;
	box-shadow: 0 8px 6px -1px black;
}

img:hover{
	transform: scale(1.04);
	transition:.3s;
}

.all_books_container{
	margin-top:5rem;
	height: 40rem;
}

.book_offer_container{
	height:50rem;
}

.single_book_container{
	width:10rem;
	height:15rem;
	float:left;
	margin-left:1.4rem;
	margin-bottom:1rem;
	margin-top:1rem;
}


nav{
	display: inline-block;
}

.logged_in{
	margin-left:14rem;
}

.title{
	font-size: 2rem;
	color:#dee5ed;
}

.categories{
	margin-left:25rem;
}

.categories a{
	font-size: .8rem;
	color:lightgrey;
	text-decoration: none;
}

.auth {
	margin-left:25rem;
}

header{
	margin-top:.5rem;
	margin-bottom:2rem;
}

ul{
	padding-left:0;
}

ul li{
	list-style-type: none;
	color:grey;
}

.clearfix{
	clear:both;
}

#send_offer li a, .message_form h2, .message_form form{
	color:grey;
}

.google_map{
	padding-right:3rem;
	width:25rem;
	height:25rem;
	margin-top:3rem;
	margin-left:1rem;
	box-shadow: none;
}

.comments_container{
	border-left: 8px solid #d65708;
	padding-left: 1rem; 

}
.comments_container h2{
	color:grey;
}

.auth_form{
	width:20rem;
	height:25rem;
	background: #f9fff9;
	margin:3rem auto;
	text-align: center;
	padding:1rem;
	border-radius: 10px;
	font-size: 1.3rem;
}
.auth_form input{
	margin-top:1.6rem;
	margin-bottom:1rem;
}


.links{
	margin-right:5rem;
	width:10rem;
}

.icon{
	width:2rem;
	height:auto;
	margin-right:1rem;
	padding-top:1rem; 
}

.links ul li a{
	color:black;
}

.create_form{
	width:30rem;
	height:25rem;
	background: #f9fff9;
	margin:0 auto;
	border-radius: 3px;
}

.child_container{
	padding: 1rem 3rem;
}

.input_new input{
	margin:.5rem;
}

.deal_btn{
	font-size:1rem;
	margin-left: 1rem;
	margin-top:.4rem;
}


.comment{
	background: #4e4e50;
	border-radius: 10px;
	width:30rem;
	height: 5rem;
	padding: 1rem 1rem 3rem 1rem;
	margin-bottom: 1rem;
}

.comment ul li {
	padding-top:.4rem;
}

.comment ul li a{
	color:orange;
}

.book_container{
	width:20rem;
	height:25rem;
	padding:3rem;
	float:left;
}

.book_container img{
	width:80%;
	height:auto;
}

.info_book{
	width:15rem;
	float:left;
	margin-top:5rem;
	margin-left: 5rem;
	font-size: 1.3rem;
	border-bottom: .5px solid grey;
	font-family: 'Georgia';
	letter-spacing: 3px;
}

.exchange_img{
	float:left;
	margin-top:4rem;
}

.title{
	margin-left:20px;
}

.book_mark{
	color:brown;
}

.fa-comments, .fa-envelope-open{
	color:lightgreen;
}






